apiVersion: v1
kind: Service
metadata:
  name: bff-service
  namespace: plataforma
spec:
  selector:
    app: bff-api
  ports:
    - port: 5000
      targetPort: 5000
      name: http
  type: ClusterIP