apiVersion: v1
kind: Service
metadata:
  name: conteudo-api
  namespace: plataforma
spec:
  selector:
    app: conteudo-api
  ports:
    - name: http
      port: 5002
      targetPort: 5002
    - name: admin
      port: 7002
      targetPort: 7002
  type: ClusterIP