apiVersion: v1
kind: Service
metadata:
  name: pagamentos-service
  namespace: plataforma
spec:
  selector:
    app: pagamentos-api
  ports:
    - name: http
      port: 5004
      targetPort: 5004
  type: ClusterIP
