# --- AUTH API ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
  namespace: plataforma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
      - name: auth-api
        image: karinaesparza/plataformaedu-auth-api:latest
        ports:
        - containerPort: 5001
        env:
        - name: ASPNETCORE_URLS
          value: "http://*:5001"
        - name: ASPNETCORE_ENVIRONMENT
          value: "Docker"
        - name: ConnectionStrings__DefaultConnection
          value: "Server=sqlserver;Database=AuthDB;User Id=sa;Password=PlataformaEducacional123!;TrustServerCertificate=True;"
        - name: JwtSettings__SecretKey
          value: PlataformaEducacional123!SuperSecretKey2024@#$
        - name: RabbitMQ__Host
          value: "rabbitmq"
        - name: RabbitMQ__Password
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: rabbit-password
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        readinessProbe:
          httpGet:
            path: /health
            port: 5001
          initialDelaySeconds: 10
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: auth-api
  namespace: plataforma
spec:
  selector:
    app: auth-api
  ports:
    - port: 5001
      targetPort: 5001

---
# --- CONTEUDO API ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: conteudo-api
  namespace: plataforma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: conteudo-api
  template:
    metadata:
      labels:
        app: conteudo-api
    spec:
      containers:
      - name: conteudo-api
        image: karinaesparza/plataformaedu-conteudo-api:latest
        ports:
        - containerPort: 5002
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Docker"
        - name: ConnectionStrings__DefaultConnection
          value: "Server=sqlserver;Database=ConteudoDB;User Id=sa;Password=PlataformaEducacional123!;TrustServerCertificate=True;"
        - name: RabbitMQ__Host
          value: "rabbitmq"
        - name: RabbitMQ__Password
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: rabbit-password
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /health
            port: 5002
          initialDelaySeconds: 10
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: conteudo-api
  namespace: plataforma
spec:
  selector:
    app: conteudo-api
  ports:
    - port: 5002
      targetPort: 5002

---
# --- ALUNOS API ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alunos-api
  namespace: plataforma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alunos-api
  template:
    metadata:
      labels:
        app: alunos-api
    spec:
      containers:
      - name: alunos-api
        image: karinaesparza/plataformaedu-alunos-api:latest
        ports:
        - containerPort: 5003
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Docker"
        - name: ConnectionStrings__DefaultConnection
          value: "Server=sqlserver;Database=AlunosDB;User Id=sa;Password=PlataformaEducacional123!;TrustServerCertificate=True;"
        - name: ExternalApis__ConteudoApi
          value: "http://conteudo-api:5002"
        - name: RabbitMQ__Host
          value: "rabbitmq"
        - name: RabbitMQ__Password
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: rabbit-password
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /health
            port: 5003
          initialDelaySeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: alunos-api
  namespace: plataforma
spec:
  selector:
    app: alunos-api
  ports:
    - port: 5003
      targetPort: 5003

---
# --- PAGAMENTOS API ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pagamentos-api
  namespace: plataforma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pagamentos-api
  template:
    metadata:
      labels:
        app: pagamentos-api
    spec:
      containers:
      - name: pagamentos-api
        image: karinaesparza/plataformaedu-pagamentos-api:latest
        ports:
        - containerPort: 5004
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Docker"
        - name: ConnectionStrings__DefaultConnection
          value: "Server=sqlserver;Database=PagamentosDB;User Id=sa;Password=PlataformaEducacional123!;TrustServerCertificate=True;"
        - name: RabbitMQ__Host
          value: "rabbitmq"
        - name: RabbitMQ__Password
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: rabbit-password
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /health
            port: 5004
          initialDelaySeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: pagamentos-api
  namespace: plataforma
spec:
  selector:
    app: pagamentos-api
  ports:
    - port: 5004
      targetPort: 5004

---
# --- BFF API ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bff-api
  namespace: plataforma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bff-api
  template:
    metadata:
      labels:
        app: bff-api
    spec:
      containers:
      - name: bff-api
        image: karinaesparza/plataformaedu-bff-api:latest
        ports:
        - containerPort: 5000
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Docker"
        - name: ApiSettings__AuthApiUrl
          value: "http://auth-api:5001"
        - name: ApiSettings__ConteudoApiUrl
          value: "http://conteudo-api:5002"
        - name: ApiSettings__AlunosApiUrl
          value: "http://alunos-api:5003"
        - name: ApiSettings__PagamentosApiUrl
          value: "http://pagamentos-api:5004"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: bff-api
  namespace: plataforma
spec:
  selector:
    app: bff-api
  ports:
    - port: 5000
      targetPort: 5000