apiVersion: v1
kind: Service
metadata:
  name: alunos-api
  namespace: plataforma
spec:
  selector:
    app: alunos-api
  ports:
    - name: http
      port: 5003
      targetPort: 5003
    - name: http-alt
      port: 7003
      targetPort: 7003
  type: ClusterIP
