# --- BFF API ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bff-api
  namespace: plataforma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bff-api
  template:
    metadata:
      labels:
        app: bff-api
    spec:
      containers:
      - name: bff-api
        image: karinaesparza/plataformaedu-bff-api:latest
        ports:
        - containerPort: 5000
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Docker"
        - name: ApiSettings__AuthApiUrl
          value: "http://auth-api:5001"
        - name: ApiSettings__ConteudoApiUrl
          value: "http://conteudo-api:5002"
        - name: ApiSettings__AlunosApiUrl
          value: "http://alunos-api:5003"
        - name: ApiSettings__PagamentosApiUrl
          value: "http://pagamentos-api:5004"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 20
          periodSeconds: 20
        startupProbe:
          httpGet:
            path: /health
            port: 5000
          failureThreshold: 15
          periodSeconds: 10
