apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
  namespace: plataforma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
        - name: auth-api
          image: karinaesparza/plataformaedu-auth-api:latest
          ports:
            - containerPort: 5001
            - containerPort: 7001
          envFrom:
            - configMapRef:
                name: auth-config
            - secretRef:
                name: auth-secret
          readinessProbe:
            httpGet:
              path: /health
              port: 5001
            initialDelaySeconds: 60
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5001
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
