apiVersion: v1
kind: Service
metadata:
  name: auth-api
  namespace: plataforma
spec:
  selector:
    app: auth-api
  ports:
    - name: http
      port: 5001
      targetPort: 5001
    - name: admin
      port: 7001
      targetPort: 7001
  type: ClusterIP
